snippet fn "Function definition"
	fn ${1:function_name}(${2})${3} {
		${0}
	}
snippet test "Unit test function"
	#[test]
	fn ${1:function_name}_test() {
		${0}
	}
snippet testmod "Test module" b
	#[cfg(test)]
	mod tests {
		use super::${1:*};

		test${0}
	}
snippet ifl "if let (...)"
	if let ${1:Some($2)} = $3 {
		${0:${VISUAL}}
	}